Saved/Config/CrashReportClient/UECC-Windows-23E052884087C0C5BC7957903D504E25/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
/Saved/Autosaves
/Saved/Config/WindowsEditor
/Saved
/Intermediate
/Intermediate
/Intermediate
/Intermediate
*.bin
/Intermediate
/Content/__ExternalActors__
Content/__ExternalActors__/TopDown/Maps/TopDownMap/C/CG/PTZSC16Z4W8Q3B68OX78W7.uasset
